<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UNE MAISON</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{maison.id}} </td></tr>
	<tr><td>Code : </td><td>{{maison.code}}</td>
    <tr><td>Libelle : </td><td>{{maison.libelle}}</td></tr></tr>

 </table>
	
	 
    </body>
</html>