<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UNE COMPETENCE</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{competences.id}} </td></tr>
	<tr><td>Code : </td><td>{{competences.code}}</td>
	<tr><td>Libelle : </td><td>{{competences.libelle}}</td>
    <tr><td>Nombre d'étudiant maximum : </td><td>{{competences.nbEtudiantsMax}}</td></tr></tr>
	
 </table>
	
	 
    </body>
</html>