<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		LISTE DES COMPETENCES</br>
		<table>
		{% for e in pCompetences %}
		<tr>
			<td><a href="{{ path('competencesConsulter', { 'id': e.id }) }}">{{ e.code }}</a></td>
			<td>{{ e.libelle }}</a></td>
	{% else %}
		<tr>
		<td>Aucune competence n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
	
	 
    </body>
</html>